.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home_team_score {
  width: 982px;
  height: 227px;
  border: solid 1px #979797;
  background-color: #d8d8d8;
  margin: 0 auto;
}

.home_team_news {
  width: 982px;
  height: 167px;
  border-radius: 2px;
  border: solid 1px #979797;
  background-color: #d8d8d8;
  margin: 0 auto;
}

.home_team_stats {
  width: 982px;
  height: 324px;
  border: solid 1px #979797;
  background-color: #d8d8d8;
  margin: 0 auto;
}
