.main {
  position: relative;
}

.inner {
  margin: 10px;
  min-width: 500px;
  clear:both;
}

.discussionLeft {
  width: 40%;
  float: left;
  -webkit-flex: none;
  flex: none;
  margin: 10px;
}

.discussionRight {
  -webkit-flex: 1;
  flex: 1;
  width: 50%;
  float: left;
  margin: 10px;
}

.commentRow {
  line-height: 10px;
}

.userBackButton {
  display: inline-block;
  margin-bottom: 10px;
}